# Entorno virtual
entorno_app_visualizacion/

# Archivos de Python
__pycache__/
*.py[cod]

# Archivos de configuración de entorno
.env
*.env

# Archivos de log o temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db